*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 12px 0 20px 0;   
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
a{
    text-decoration: none;
}
button.normal{
    font-family: 'League Spartan', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.5);
    border-radius: 4px; 
    cursor: pointer;
    border: none;
    outline: none;
    transition: 250ms;
}
button.white{
    font-family: 'League Spartan', sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 250ms;
}
/* header section */
.logo-wrapper{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #012B28;
    letter-spacing: 3px;
}
.logo-wrapper h3{
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 400;
}
.logo{
    margin-bottom: 3px;
    width: 26px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    inset: 0;
}
.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar i{
    font-size: 16px;

}
.nav-bar  li{
    list-style: none;
    padding: 0 20px;
    position: relative;
    transition: 250ms ease-in-out;
}
.nav-bar li a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #012B28;
    transition: color 250ms ease-in-out;
}
.nav-bar li a:hover,
.nav-bar li a.active{
    color: #088178
}
.nav-bar li a.active::after,
.nav-bar li a:hover::after{
    content: '';
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;   
    left: 20px;
}

#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
}
/* Home page */
@supports (background-blend-mode: multiply) {
    #hero{
        height: 90vh;
        width: 100%;
        background-size: cover;
        padding: 0 80px;
        background-image: url(../img/hero2.png), radial-gradient(rgba(68, 68, 68, 0.067), rgba(55, 55, 55, 0.149));
        background-blend-mode: multiply;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: top 25% right 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
}
#hero h4{
    font-size: 1.5rem;
    padding-bottom: 15px;
}
#hero h2{
    font-size: clamp(2.5rem, 5vw + 1rem, 4rem);
}
#hero h1{
    font-size: clamp(2.5rem, 5vw + 1rem, 4rem);
    color: #088178;
}
#hero p{
    font-size: 1.2rem;
}
#hero button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 200px;
    height: 30px;
    padding: 25px 10px 25px 10px;
    line-height: 10px;
    background-color: #222;
    color: #088178;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    transition: trasform 250ms ease-in-out, color 250ms ease-in-out, background-color 250ms ease-in-out, border 250ms ease-in-out;
}
#hero button:hover{
    cursor: pointer;
    transform: scale(1.025);
    border: 3px solid #088178;
    background-color: transparent;
    color: #222;
}
#feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.3);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    transition: box-shadow 250ms ease-in-out;
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
#feature .fe-box:hover{

    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}

#product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px ;
}
#product1 .pro{
    position: relative;
    width: 23%;
    min-width: 250px;
    padding: 10px 20px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.05);
    margin: 15px 0;
    transition: box-shadow 250ms ease-in-out;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
}
#product1 .pro img{
    background-color: #6c6c6c43;
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .description{
    text-align: start;
    padding: 10px 0; 
}

#product1 .pro h5{
    padding: 7px 0 20px 0;
    color: #1a1a1a;
    font-size: 16px;
}
#product1 .pro .star{
    padding-bottom: 5px;
}
#product1 .pro .description i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}
#product1 .pro .description h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    line-height: 40px;
    background-color: #e8f6ea;
    color: #088178;
    border: 1ps solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/banner/b22.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h4{
    color: #222;
    font-size: 23px;
    /* text-shadow: 2px 2px 8px black; */
}
#banner h2{
    color: #222;
    font-size: 40px;
    padding: 10px 0;
    /* text-shadow: 2px 2px 8px black; */
}
#banner span{
    color: #ef3636;
}
#banner button:hover{
    background-color: #088178;
    color: #fff;
    box-shadow: none;
}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(../img/banner/b11r.jpg);
    min-width: 665px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#sm-banner .banner-box2{
    background-image: url(../img/banner/b2r.jpg);
}
#sm-banner h4{
    color: white;
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 3px;
    /* text-shadow: 3px 3px 10px rgba(255, 119, 0, 0.719); */
}
#sm-banner h2{
    color: white;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 3px;
    /* text-shadow: 3px 3px 10px rgba(255, 119, 0, 0.719); */
}
#sm-banner span{
    color: white;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-bottom: 15px;
    /* text-shadow: 3px 3px 10px rgba(255, 119, 0, 0.719); */
}
#sm-banner .banner-box:hover button{
    background-color: #088178;
    border: 1px solid #088178;
}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;

}
#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(../img/banner/b6r.jpg);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    margin-bottom: 20px;
}
#banner3 h2{
    /* color: #fff; */
    font-weight: 900;
    font-size: 22px;
}
#banner3 h3{
    font-weight: 800;
    font-size: 15px;
}
#banner3 .banner-box2{
    background-image: url(../img/banner/b12r.jpg);
}
#banner3 .banner-box3{
    background-image: url(../img/banner/b13r.jpg);
}
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(../img/banner/b15.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}
#newsletter .form{
    display: flex;

    width: 40%;
}
#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter p span{
    color: #ffbd27;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    box-shadow: none;
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20em;
    letter-spacing: 3px;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo-footer{
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    padding-bottom: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    color: #222;
    padding-bottom: 20px;
}
footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}
footer .follow i:hover,
footer a:hover{
    color: #088178;
}

.copyright{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}


/* Shop Page */

#page-header{
    background-image: url(../img/banner/b23.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;
    width: 100%;
    height: 40vh;
}
#pagination{
    display: flex;
    justify-content: center;
    gap: 10px;
}
#pagination a{
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    background: #088178;
    padding:  15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}
#arrow{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Single Product */
.mainImgStyle{
    background-color: #F0F0F0;
    width: 90%;
}
.background-small{
    width: 80%;
}
.single-pro-image-wrapper{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.small-img-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.small-img-column{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 120px;
    height: 120px;
    background-color: #F0F0F0;
    border: 1px solid rgba(153, 153, 153, 0.595);
    border-radius: 4px;
}

#prodetails{
    display: flex;
    margin-top: 20px;
}
#prodetails .single-prodetails{
    width: 80%;
    padding-top: 30px;
}
#prodetails .single-prodetails h4{
    padding: 30px 0 20px 0;
}
#prodetails .single-prodetails h2{
    font-size: 26px;
}
#prodetails .single-prodetails select{
    display: block;
    padding: 5px 15px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 1px solid #888;
}
#prodetails .single-prodetails input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-prodetails input:focus{
    outline: none;
}
#prodetails .single-prodetails button{
    box-shadow: none;
    background-color: #088178;
    color: #fff;
}
#prodetails .single-prodetails span{
    line-height: 25px;
}


/* About page */

#page-header.about-header{
    background-image: url(../img/banner/b3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#about-header{
    display: flex;
    align-items: center;
}
#about-header img{
    width: 700px;
    height: auto;
}
#about-header div{
    padding-left: 40px;
}


/* Contact Page */

#page-header.contact-header{
    background-image: url(../img/banner/b4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details{
    width: 40%;
}
#contact-details .details span{
    font-size: 12px;
}
#contact-details .details h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}
#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 16px 0;
}
#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}
#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}
#contact-details .map{
    width: 55%;
    height: 400px;
}
#contact-details .map iframe{
    width: 100%;
    height: 100%;
}

/* Cart Page */
#page-header.cart-header{
    background-image: url(../img/banner/f18.jpg);
    background-repeat: no-repeat;
    background-position: 10%;
    background-size: cover;
    background-attachment: fixed;
}
#cart{
    overflow-x: auto;
}

#cart table{
    width:100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
#cart table img{
    width: 70px
}
#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}
#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}
#cart table tbody tr td{
    padding-top: 15px;
}
#cart table tbody tr td i{
    cursor: pointer;
}
#cart table tbody td{
    font-size: 13px;
}

#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#coupon{
    width: 50%;
    margin-bottom: 30px;
}
#coupon h3{
    padding-bottom: 15px;
}
#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}
#coupon button,
#subtotal button{
    background-color: #088178;
    color: white;
    box-shadow: none;
    padding: 10px 20px;
}
#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}
#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}
#coupon h3,
#subtotal h3 {
    padding-bottom: 15px;
}















/* start media query  */

@media (max-width: 820px){
    .section-p1{
        padding: 40px 40px;
    }
    .nav-bar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        overflow: hidden;
        height: 100vh;
        width: 300px;
        background-color: #e3e5f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 300ms ease-in-out;
    }
    .nav-bar.active{
        right: 0;
    }
    .nav-bar  li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close{
        display: initial;
    }
    #close i{
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px ;
    }
    #lg-bag{
        display: none;
    }
    @supports (background-blend-mode: multiply) {
        #hero{
            height: 70vh;
            padding: 0 80px;
            background-image: url(../img/hero2.png), radial-gradient(rgba(68, 68, 68, 0.279), rgba(55, 55, 55, 0.389));
            background-blend-mode: multiply;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: top 30% right 30%;
        }
    }
    #hero h4{
        color: #f9f9f9b7;
    }
    #hero h2{
        color: #ffffffd6;
    }
    #hero p{
        color: #ffffffcd;
    }
    #hero button:hover,
    #hero button:focus{
        cursor: pointer;
        transform: scale(1.125);
    }
    #feature{
        justify-content: center;
    }
    #feature .fe-box{
        margin: 15px 15px;
    }
    #product1 .pro-container {
        justify-content: center;
    }
    #product1 .pro{
        margin: 15px;
    }
    #banner{
        height: 20vh;
    }
    #sm-banner{
        gap: 20px;
    }
    #sm-banner .banner-box{
        min-width: 100%;
        height: 30vh;
    }
    #banner3{
        padding: 0 40px;
    }
    #banner3 .banner-box{
        width: 28%;
    }
    #newsletter .form{
        width: 70%;
    }
}

@media (max-width: 477px){
    .section-p1{
        padding: 20px;
    }
    header{
        padding: 10px 30px;
    }
    #hero{
        padding: 0 20px;
        background-position: 70%;
    }
    #feature{
        justify-content: space-between;
    }
    #feature .fe-box{
        width: 155px;
        margin:  0 0 15px 0;
    }
    #product1 .pro{
        width: 100%;
    }
    #banner{
        text-align: center;
        height: 40vh;
    }
    #sm-banner .banner-box{
        height: 40vh;
    }
    #banner3{
        padding: 0 20px;
    }
    #banner3 .banner-box{
        width: 100%;
    }
    #newsletter{
        padding: 40px 20px;
    }
    #newsletter .form{
        width: 100%;
    }
    footer{
        letter-spacing: 1px;
    }
    
    /* Single Product */
    #prodetails{
        display: flex;
        flex-direction: column;
    }
    .single-pro-image-wrapper{
        flex-direction: column-reverse;
    }
    .small-img-group{
        flex-direction: row;
    }
    .single-pro-image{
        display: flex;
        justify-content: center;
    }
    .small-img-column {
        
        width: 80px;
        height: 80px;
        
    }

    /* About page */

    #about-header {
        flex-direction: column;
    }
    #about-header img{
        width: 100%;
        height: auto;
    }

    /* Cart Page */

    #cart-add{
        flex-direction: column;
    }
    #coupon{
        width: 100%;
    }
    #subtotal {
        width: 100%;
        padding: 20px;
    }
}
